* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

html, body {
  background-color: rgba(0, 0, 0, 0.9);
}


  
.espacioGrande {
  height: 100vh;
  background-color: #505050;
}

.lineaSeparadora{
  height: 1px;
  background-color: white;
}

@media (max-width: 768px) {
  p {
    font-size: 14px; /* Tamaño de fuente para pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  p {
    font-size: 12px; /* Tamaño de fuente para pantallas aún más pequeñas */
  }
}